$conditional-node-bg: rgba(79, 105, 223, 1);
$conditional-node-text-color: rgba(255, 255, 255, 0.8);

.conditionalNode {
  background: $conditional-node-bg;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  transition: 0.25s ease-in;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  .conditionalNodeHeader {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .conditionalNodeMain {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: $conditional-node-text-color;
  }
}
